#header {
    border: dotted 2px skyblue;
}

#left {
    float: left;
    width: 50%;
    color:deepskyblue;
}

#right {

    float: right;
    width: 50%;
    color:red;

}

.container {
    background-color:red;
    border-left: 2px solid black;
}

body, html {
    height: 100%;
    background-image:url("http://7-themes.com/data_images/out/14/6814942-wallpaper.jpg");


}

#main-body {
    border-left: 1px solid black;
    height: 100%;


}
img {
    width: 100%;
    height: 100%;
}
